@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
	margin: 0;
	padding: 0;
	font-family: "Nanum Gothic", sans-serif;
}

section {
	width: 1200px;
	margin: 0 auto;
}

.top_wrap {
	height: 520px; width : 1200px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1200px;
}

.top {
	float: left;
	overflow: hidden;
	margin-top: 5px;
}

.top ul {
	
}

.top ul li {
	display: block;
	float: left;
	padding-left: 15px;
	list-style: none;
	vertical-align: middle;
	height: 22px;
	line-height: 25px;
	font-size: 12px;
	font-family: "Nanum Gothic", sans-serif;
	font-weight: 700;
	color: #6A6A6A;
}

.top ul li span {
	font-weight: 800;
	line-height: 15px;
}

.login_form {
	clear: both;
	width: 100%;
	height: 350px;
	margin-top: 90px;
	float: left;
}

.poster {
	width: 350px;
	position: absolute;
	right: 0px;
	z-index: 1;
	top: 1px;
}

table {
}

table tr {
	width: 100%;
}

table tr .sign {
	font-size: 12px;
	line-height: 30px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #555;
}

table tr td {
	
}

.log_form input {
	border: 2px solid #ddd;
	width: 350px;
    height: 50px;
    font-size: 20px;
}

.log_form td {
	text-align: center;
}

.idcheck {
	display: block;
	position: absolute;
	top: 50px;
	left: 300px;
}

.idcheck_form label {
	display:inline-block;
	width: 70px;
	height: 40px;
	text-align: right;
	line-height: 38px;
	padding-right: 10px;
}

.idcheck_form input {
	width: 180px;
	height: 40px;
	border: 2px solid #ddd;
	float: right;
}
.pwd_check {
	display: inline-block;
	position: absolute;
	top: 230px;
	left: 300px;
}

.pwdcheck input {
	width: 180px;
	height: 40px;
	border: 2px solid #ddd;
}
.button_top input {
	background-color: #111;
	border: 0;
	color: #fff;
	width: 350px;
	height: 40px;
	margin-top: 1px;
}

.button_left input {
	background-color: #111;
	margin: 0;
	width: 175px;
	height: 40px;
	border:0;
	border-right:2px solid white;
	color: #fff;
	float: left;
}

.button_right input {
	background-color: #111;
	width: 175px;
	height: 40px;
	border: 0;
	color: #fff;
	float: right;
}