@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Nanum Gothic", sans-serif;
/* 	border: 1px solid red; */          
}

a {
	text-decoration: none;
	color: black;
}

body * {
	/* 	border: 1px solid red; */
	
}

#header_wrap {
	height: 151px;
}

header {
	width: 100%;
	height: 151px;
	background-image: url("bar.jpg");
	background-repeat: repeat-x;
	text-align: center;
	opacity: 0.87;
	position: fixed;
	top: 0;
	z-index: 999;
}

header .contain {
	width: 1200px;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
}

header .logo {
	width: 169px;
	height: 100%;
	float: left;
	background-color: #263a53;
	color: white;
	font-size: 40px;
	text-align: center;
	line-height: 130px;
	text-transform: uppercase;
}

header nav {
	height: 100%;
	overflow: hidden;
}

.nav_bar {
	width: 855px;
	text-align: center;
}

nav .nav_top {
	height: 45%;
}

nav .nav_bottom {
	height: 55%;
}

.nav_bottom {
	width: 700px;
	margin: 0;
	padding: 0;
}

.nav_bar ul {
	list-style: none;
}

.nav_bar li {
	display: inline-block;
}

.nav_bottom li a {
	display: inline-block;
	color: #fff;
	font-size: 18px;
	margin: 7px 5px;
	padding: 15px 15px;
	font-weight: 600;
	font-family: "Nanum Gothic", sans-serif;
	opacity: 0.88;
	letter-spacing: -0.3px;
}

.nav_top {
	width: 400px;
	text-align: center;
}

.nav_top ul {
	margin-top: 10px;
}

.nav_top ul li {
	padding: 0;
	margin: 0;
}

.nav_top li a {
	display: inline-block;
	/* 	border:1px solid red; */
	font-size: 14px;
	padding: 0 14px 0 14px;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	height: 40px;
	font-family: "Nanum Gothic", sans-serif;
	color: #333;
}

.nav_top span {
	display: inline-block;
	width: 1px;
	height: 15px;
	position: relative;
	border-left: 2px solid #555;
	top: 3px;
}

.nav_top_r {
	width: 150px;
	float: right;
	position: relative;
	bottom: 60px;
}

.nav_top_r ul {
	list-style: none;
}

.nav_top_r ul li {
	display: inline-block;
	height:;
	line-height:
}

.nav_top_r li a {
	padding-right: 15px;
	border: 0;
}

.nav_top_r li a img {
	width: 30px;
	height: 100%;
}

section {
	
}

section .section_top {
	margin: 0 auto;
	background-color: #ddd;
}

.rolling {
	background-image: url("rolling_1.jpg");
	margin: 0 auto;
	height: 310px;
	width: 1200px;
}

.top_inner {
	height: 750px;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.new_movie_logo {
	display: block;
	padding: 0 auto;
	margin: 0 auto;
	width: 230px;
}
.new_movie_wrap *{
	border: 1px solid red;
	}
.new_movie_wrap{
	width:750px;
	overflow: hidden;
	margin: 0 auto;	
}
.new_movie_images{
	width: 500px;
	float: left;
}
.new_movie_images .top{
	height: 400px;
}
.new_movie_images .bottom{
	height: 130px;
}
.new_movie_info{
	width: 250px;
	height: 530px;
	float: right;
}

.new_movie_info .top{
	width: 230px;
	height: 400px;
	float: right;
}
.new_movie_info .bottom{
	width: 230px;
	height: 130px;
	float: right;
}

section .section_bottom {
	height: 1020px;
	margin: 0 auto;
	background-color: #fff;
}

.bottom_inner {
	height: 100%;
	width: 1200px;
	margin: 0 auto;
}

footer {
	height: 200px;
	border-top: 1px solid gray;
}