@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', serif;
}

a {
  text-decoration: none;
  color: black;
}

body * {
  /* 	border: 1px solid red; */
  
}

#header_wrap {
  height: 151px;
}

header {
  width: 100%;
  height: 151px;
  background-image: url("bar.jpg");
  background-repeat: repeat-x;
  text-align: center;
  opacity: 0.87;
  position: fixed;
  top: 0;
  z-index: 10000;
}

header .contain {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}

header .logo {
  width: 169px;
  height: 100%;
  float: left;
  background-color: #263a53;
  color: white;
  font-size: 40px;
  text-align: center;
  line-height: 130px;
  text-transform: uppercase;
}

header nav {
  height: 100%;
  overflow: hidden;
}

.nav_bar {
  width: 855px;
  text-align: center;
}

nav .nav_top {
  height: 45%;
}

nav .nav_bottom {
  height: 55%;
}

.nav_bottom {
  width: 700px;
  margin: 0;
  padding: 0;
}

.nav_bar ul {
  list-style: none;
}

.nav_bar li {
  display: inline-block;
}

.nav_bottom li a {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  margin: 7px 5px;
  padding: 15px 15px;
  font-weight: 600;
  font-family: "Nanum Gothic", sans-serif;
  opacity: 0.88;
  letter-spacing: -0.3px;
}

.nav_top {
  width: 400px;
  text-align: center;
}

.nav_top ul {
  margin-top: 10px;
}

.nav_top ul li {
  padding: 0;
  margin: 0;
}

.nav_top li a {
  display: inline-block;
  /* 	border:1px solid red; */
  font-size: 14px;
  padding: 0 14px 0 14px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  height: 40px;
  font-family: "Nanum Gothic", sans-serif;
  color: #333;
}

.nav_top span {
  display: inline-block;
  width: 1px;
  height: 15px;
  position: relative;
  border-left: 2px solid #555;
  top: 3px;
}

.nav_top_r {
  width: 150px;
  float: right;
  position: relative;
  bottom: 60px;
}

.nav_top_r ul {
  list-style: none;
}

.nav_top_r ul li {
  display: inline-block;
  height:;
  line-height:
}

.nav_top_r li a {
  padding-right: 15px;
  border: 0;
}

.nav_top_r li a img {
  width: 30px;
  height: 100%;
}
/* 상단안내바 */
.top_wrap {
  width: 100%;
  height: 30px;
  background: #FAFAD2;
}

.top_wrap_inner {
  width: 1200px;
  margin: 0 auto;
}

.top {
  width: 1200px;
  display: inline-block;
  margin: 7px 0 30px 0;
}

.top ul {
  list-style: none;
  display: inline-block;
}

.top ul li {
  display: block;
  float: left;
  padding-left: 10px;
  height: 22px;
  line-height: 15px;
  font-size: 13px;
  font-weight: 700;
  color: #333;
  letter-spacing: -1px;
}

.top ul li a {
  text-decoration: none;
  color: #333;
}

.top ul li span {
  font-weight: 800;
  line-height: 15px;
}

.top img {
  width: 15px;
}

.top .lift {
  float: left;
  width: 240px;
}

.top .right {
  float: right;
  width: 190px;
}

section {
  
}

section .section_top {
  margin: 0 auto;
  background-color: #ddd;
}

.top_inner {
  height: 880px;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

section .section_bottom {
  height: 1020px;
  margin: 0 auto;
  background-color: #fff;
}

.bottom_inner {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}

footer {
  height: 100px;
  margin: 20px auto;
  width: 1200px;
  border: 1px solid #777;
}

.footer_inner {
  width: 100%;
  margin: 0 auto;
}

.button {
  font-size: 12px;
  line-height: 18px;
  color: #777;
  padding-top: 35px;
  float: left;
}

.home {
  padding: 5px 10px 5px 10px;
  line-height: 30px;
  border: 1px solid #aaa;
  margin-left: 105px;
}

.home a {
  color: #555;
}

.home a:HOVER {
  color: #a93d3d;
  font-weight: bold;
}

.aboutus {
  padding: 5px 10px 5px 10px;
  line-height: 30px;
  border: 1px solid #aaa;
  margin-left: 10px;
}

.aboutus a {
  color: #555;
}

.aboutus a:HOVER {
  color: #a93d3d;
  font-weight: bold;
}

.footer_notice {
  font-size: 12px;
  line-height: 18px;
  color: #777;
  padding-top: 25px;
  float: left;
  margin-left: 80px;
}

.footer_team {
  width: 370px;
  font-size: 12px;
  line-height: 18px;
  color: #777;
  padding-top: 25px;
  float: left;
  padding-left: 20px;
}


footer .line {
  float:left;
  width:1px;
  height:40px;
  background-color: #ddd;
  margin-left: 20px;
  margin-top: 30px;
}