*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
	opacity: 0.99;
}
a{
	text-decoration:none;
	color:black;
}

body *{
/* 	border: 1px solid red; */
}

header{
	height: 151px;
	background-image: url("bar.jpg");
    background-repeat: repeat-x;
}

header .contain{
	width: 1200px;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
}

header .logo{
	width: 169px;
	height: 100%;
	float: left;
	background-color: #253A53;
	color:white;
	font-size: 40px;
	text-align: center;
	line-height: 130px;
}

header nav{
	height: 100%;
	overflow: hidden;
}

nav .nav_top{
height: 45%;
}

nav .nav_bottom{
height: 55%;
}
.nav_bottom .nav_bar{
	width:600px;
	margin-left:100px;
	text-align: center;
}

.nav_bottom ul{
	margin-top:10px;
}
.nav_bottom li{
	float:left;
	list-style: none;
	
}
.nav_bottom li a{
	display:inline-block;
/* 	border:1px solid red; */
	color:white;
	font-size:22px;
	margin:0 5px;
	padding: 15px 15px;
	font-weight: bold;
	
}



section{
}

section .section_top{

	margin: 0 auto;
	background-color: #ddd;
}
.rolling{
	background-image: url("rolling_1.jpg");
	margin: 0 auto;
	height: 310px;
	width: 1200px;

}
.top_inner{
	height: 950px;
	width: 1200px;
	margin: 0 auto;
}

section .section_bottom{
	height: 1020px;
	margin: 0 auto;
	background-color: #fff;
}
.bottom_inner{
	height: 100%;
	width: 1200px;
	margin: 0 auto;
}
footer{
	height: 255px;
}