@CHARSET "UTF-8";

.user_form h1 {
	margin: 10px 0;
	text-align:center;
	font-weight: 450;
}

.user_form table {
	width: 650px;
	margin: 0 auto;
	margin-top:10px;
	font-size: 16px;
	margin-left:70px;
}

.user_form td {
	padding: 5px 10px;
	border-bottom: 1px solid black;
}

.user_form td input {
	float:left;
	height: 28px;
	border-radius: 5px;
	padding: 7px;
	line-height: 0px;
	/* 	background: transparent; */
	/* 	color: #00AA66; */
	  border-style:groove
}

/* td input[type=button] { */
/* 	border-color: #ffffff; */
/* 	border-style:  */
/* } */

.user_form td:FIRST-CHILD {
	text-align: left;
	width: 120px;
}

.user_form th {
	padding: 5px;
	text-align: center;
	font-size: 22px;
}