@CHARSET "UTF-8";
table{
	width: 72%;
	margin: 10px auto;
}
td{
	padding: 5px 10px;
}
td:FIRST-CHILD{
	text-align: right;
	width: 120px;
}
th{
	padding:5px;
	text-align: center;
	font-size: 22px;
}