*{
	 border: 1px solid red;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 10px;
}
.section_inner{
	width:1200px;
	margin:0 auto;
	overflow: hidden;
}
a{
  text-decoration: none;
  color: black;
}
.theater{
  float:left;
  width: 150px;
  height: 500px;
}
.theater a{
  display: block;
  height: 40px;
  text-align: center;
  line-height: 35px;
}
.theater_room{
  float:left;
  width: 150px;
  height: 500px;
}
.theater_room a{
  display: block;
  height: 30px;
  text-align: center;
  line-height: 25px;
}
.select_bar{
  float:left;
  overflow:hidden;
  margin: 0 auto;
  width: 250px;
  height: 500px;
  
}
.movie{
	float:left;
	width: 150px;
	height: 500px;
}
.movie_date{
	float:  left;
	width:  150px;
	height: 500px;
}
.movie > a{
	display:block;
	height: 50px;
	font-size: 10px;
	text-align: center;
	line-height: 45px;
}

.watching_number{
  width: 500px;
  margin: 0 auto;
}

.watching_number a{  
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 18px;
  
}

.active{
  background-color: white;
}
.no_active{
  background-color: red;
}

.row{
  clear: both;
}
.row a{
      cursor: pointer;
}
span{
  border: 1px solid black;
}
.no{
  display: inline-block;
  width: 20px;
  text-align: center;
  float: left;
}
.no:hover{
  background-color: #808080;
}
.seat_gap{
  float: left;
  position: relative;
}