* {
	/* 	 border: 1px solid red; */
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-size: 10px;
}

.section_inner {
	width: 1100px;
	margin: 0 auto;
	overflow: hidden;
}

.section_inner * {
	/* border: 1px solid red; */
	
}

.reservation_title {
	text-align: center;
	margin: 10px 0;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: black;
}

.selected {
	background-color: gray;
}

.movie_back {
	background-color: #033333;
	border-right: 2px solid white;
}

.movie_back > .title {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	background-color: white;
	color: #033333;
	padding: 10px 0;
	margin: 15px 0;
	line-height: 35px;
	height: 60px;
}

.movie_back * {
	color: white;
}

.theater {
	float: left;
	width: 220px;
	height: 600px;
}

.theater a {
	display: block;
	height: 40px;
	text-align: center;
	line-height: 35px;
	font-size: 15px;
	border-top: 1px solid white;
}

.theater a:LAST-CHILD {
	font-size: 15px;
	border-bottom: 1px solid white;
}

.movie {
	float: left;
	width: 330px;
	height: 600px;
}

.movie>a {
	display: block;
	height: 50px;
	font-size: 15px;
	text-align: center;
	line-height: 45px;
	border-top: 1px solid white;
}
.movie>a:LAST-CHILD{
	border-bottom: 1px solid white;
}
.movie_date {
	float: left;
	width: 90px;
	height: 600px;
}

.movie_date a {
	font-size: 15px;
	border-top: 1px solid white;
}

.movie_date a:LAST-CHILD{
	border-bottom: 1px solid white;
}

.movie_time {
	float: left;
	width: 170px;
	height: 600px;
}

.movie_time a {
	display: block;
	font-size: 15px;
	border-top: 1px solid white;
	height: 30px;
	text-align: center;
	line-height: 25px;
}

.movie_time a:LAST-CHILD {
	border-bottom: 1px solid white;
}

.movie_date a {
	display: block;
	height: 30px;
	text-align: center;
	line-height: 25px;
	font-size: 15px;
	border-top: 1px solid white;
}

.movie_date a:LAST-CHILD {
	border-bottom: 1px solid white;
	}

.select_bar {
	overflow: hidden;
	margin: 0 auto;
	width: 290px;
	height: 600px;
}

.watching_number {
	width: 500px;
	margin: 0 auto;
}

.watching_number a {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 18px;
}
.seat_container{
	clear:both;
	display:inline-block;
	background-color: black;
}


.active {
	background-color: white;
}

.no_active {
	background-color: red;
	cursor: default;
}

.allready {
	background-color: red;
	cursor: default;
}
.row {
	clear:both;
}


.row .title {
	display:inline-block;
	width:15px;
	border: 1px solid black;
	font-size:15px;
	height: 100%;

}
.row a {
	display:inline-block;
	cursor: pointer;
	width: 26px;
	height: 26px;
}
.row a span {
	display:block;
	border: 1px solid black;
	font-size:15px;
	height: 100%;
	width: 100%;

}

.no {
	display: inline-block;
	width: 20px;
	text-align: center;
	float: left;
}

.no:hover {
	background-color: #808080;
}

.seat_gap {
	float: left;
	position: relative;
}