@CHARSET "UTF-8";

section {
  
}

h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  letter-spacing: -1px;
  color: #333;
  margin: 50px 0 30px 0;
}

.review_body table {
  width: 1100px;
  margin: 0 auto;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  border-collapse: collapse;
  text-align: center;
}

.review_body table .body_title {
  height: 35px;
  background-color: #f7f7f7;
  font-size: 12px;
  font-weight: 600;
  color: #111;
  border-bottom: 1px solid #111;
}

.review_body table .body_list {
  border-bottom: 1px solid #111;
  height: 35px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -1px;
}

.wrap {
  width: 1100px;
  margin: 0 auto;
}

.sub_title {
  width: 120px;
  float: left;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -1px;
  height: 18px;
  padding-top: 15px;
}

.sub_title a {
  padding: 0 15px 0 0;
  color: #333;
}

.search_outline {
  float: right;
  margin-bottom: 5px;
}

.search {
  background-color: #ddd;
  width: 280px;
  height: 36px;
  border-radius: 30px 30px 30px 30px;
  position: relative;
}

.search span {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 25px;
}

.search input[type=text] {
  text-align: center;
  color: #777;
  font-weight: 600;
  width: 240px;
  height: 28px;
  border-radius: 25px 25px 25px 25px;
  border: 0;
  background-color: #fff;
  position: absolute;
  left: 5px;
  top: 4px;
}

.search input[type=button] {
  background-color: #ddd;
  background-image: url("search.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 15px;
  height: 15px;
  border: 0;
  position: absolute;
  bottom: 10px;
  right: 13px;
}

.paging {
  position: relative;
  width: 1100px;
  text-align: center;
}

.paging input[type=button] {
  position: absolute;
  right: 0;
  top: 3px;
  background-color: #111;
  width: 70px;
  height: 25px;
  cursor: pointer;
  border: 0;
  font-size: 11px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  background-color: #111;
}

.open_nav {
  display: none;
  text-align: center;
}

.notice {
  width: 1100px;
  margin: 30px auto;
}

.notice .n_body {
  width: 420px;
  height: 50px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.notice .n_body li {
  font-size: 14px;
  font-weight: 400;
  line-height:20px;
  height:20px;
  letter-spacing: -0.5px;
  color: #333;
}

.notice .n_body li b {
  color: #AC1616;
  font-weight: none;
}