<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EtcMapper">
	<insert id="insertMovie" parameterType="String">
		insert into movie(name) values(#{movie})
	</insert>
		<select id="selectMovieCount" parameterType="String"
	resultType="int">
	select count(*) from movie where name=#{movie};
	</select>
	<select id="selectMovieNo" parameterType="String" resultType="int">
		select no from movie where name=#{movie} order by no desc limit 1
	</select>
	<select id="selectAllreadyDate" parameterType="int" resultType="int">
		select count(*) from date where movie_no=#{movie_no} order by no desc limit 1
	</select>
	<insert id="insertAvailTheater" parameterType="com.movie.dto.MovieInsertDTO">
		insert into avail_theater(movie_no,theater) values(#{no},#{theater})
	</insert>
	<insert id="insertDate" parameterType="com.movie.dto.MovieInsertDTO">
		insert into date(movie_no,mdate,theater) values(#{no},#{date},#{theater})
	</insert>
	<select id="selectDateNo" parameterType="int" resultType="int">
		select no from date where movie_no=#{no} order by no desc limit 1
	</select>
	<insert id="insertTime" parameterType="com.movie.dto.MovieInsertDTO">
		insert into time(date_no,time,max,remain,room) values(#{date_no},#{time},#{max},#{max},#{room})
	</insert>
</mapper>

