<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReservationMapper">
<resultMap type="com.movie.dto.MovieDTO" id="movie">
	
</resultMap>
<select id="selectFirstTheater" resultType="String">
	select name from theater order by no asc
</select>
<select id="selectFirstMovie" resultType="String">
	select distinct name from movie,date where movie.no=movie_no and mdate>=#{mdate} order by movie.no asc;
</select>
<select id="selectMovie" parameterType="String" resultType="com.movie.dto.MovieDTO">
	 select distinct movie.name,movie.no from movie,date where movie.no=date.movie_no and theater=#{theater} and mdate>=#{today};
</select>
<select id="selectTheater" parameterType="String" resultType="String">
	select theater from avail_theater where movie_no=(select no from movie where name=#{movie} order by no desc limit 1)
</select>
<select id="selectDate" parameterType="com.movie.dto.DateDTO" resultType="com.movie.dto.DateDTO">
	select no,mdate from date where theater=#{theater} and movie_no=(select distinct no from movie where name=#{movie} order by no desc limit 1) and mdate>=#{today}
</select>
<select id="selectTime" parameterType="int" resultType="com.movie.dto.TimeDTO">
	select * from time where date_no=#{no}  order by time asc
</select>
<select id="selectSeat" resultType="int" parameterType="com.movie.dto.ReservationDTO">
	select count(*) from seat where time_no=#{time_no} and seat=#{seat}
</select>
<select id="selectAreadySeat" resultType="int" parameterType="int">
	select seat from seat where time_no=#{no}
</select>
<insert id="insertSeat" parameterType="com.movie.dto.ReservationDTO">
	insert into 
	seat(time_no,seat,user) values(#{time_no},#{seat},#{user})
</insert>
<update id="updateRemain" parameterType="int">
	update time set remain=remain-1 where no=#{no}
</update>
<update id="updateSeatNum" parameterType="HashMap">
	update time set remain=remain+#{result} where no=#{no}
</update>
<delete id="deleteReservation" parameterType="int">
	delete from seat where time_no=#{no}
</delete>
</mapper>

