<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	<select id="selectId" resultType="int" parameterType="String">
		select count(*) from user where id=#{id}
	</select>
	<select id="selectUserId" resultType="String" parameterType="HashMap">
		select id from user where id=#{id} and email=#{email}
	</select>
	<select id="selectUserPw" resultType="String" parameterType="com.movie.dto.FindPwDTO">
		select password from user where id=#{id} and email=#{email} and name=#{name} and birthday=#{birthday}
	</select>
	<select id="selectLoginInfo" resultType="int" parameterType="HashMap">
		select count(*) from user where id=#{id} and password=#{password}
	</select>
	<!-- mypage reservation_info -->
	<select id="selecReservations" resultType="HashMap"
		parameterType="String">
		select time.no,poster.poster,date.theater,movie.name,date.mdate as
		date,time.time,seat.seat
		from movie,date,time,seat,poster
		where movie.no=date.movie_no and date.no=time.date_no and
		time.no=seat.time_no and seat.user=#{user} and movie.no=poster.movie_no 
		order by date asc,time asc,seat asc
	</select>
	<select id="selectUserPass" resultType="String" parameterType="String">
		select password from user where id=#{id}
	</select>
	<select id="selectUserInfo" resultType="com.movie.dto.UserDTO" parameterType="String">
		select id,name,birthday,zipcode,address1,address2,phone,email from user where id=#{id}
	</select>
	<insert id="insertUser" parameterType="com.movie.dto.UserDTO">
		INSERT INTO
		user(id,password,name,birthday,email,zipcode,address1,address2,phone)
		VALUES(#{id},#{password},#{name},#{birthday},#{email},#{zipcode},#{address1},#{address2},
		#{phone})
	</insert>
	<update id="updateUserPass" parameterType="String">
		update user set password=#{newPassword}
	</update>
	<update id="updateUserInfo" parameterType="com.movie.dto.UserDTO">
		update user set password=#{password},birthday=#{birthday},zipcode=#{zipcode},address1=#{address1},
		address2=#{address2},phone=#{phone},email=#{email} where id=#{id}
	</update>
</mapper>