<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
<!--   <select id="selectBoard" resultType="com.study.dto.BoardDTO"> -->
<!--     select * from table -->
<!--   </select> -->
<select id="selectMovie" parameterType="String" resultType="com.movie.dto.MovieName">
	select movie_in_theater.* from theater,movie_in_theater 
	where theater.idx=movie_in_theater.idx and theater_name=#{theater};
</select>
<select id="selectRoom" parameterType="com.movie.dto.MovieName" resultType="com.movie.dto.TheaterRoomDTO">
	select distinct room_name,theater_room_idx from theater_room, movie_in_gwan where theater_room_idx=idx and movie=#{movie}
</select>
<select id="selectTime" parameterType="com.movie.dto.MovieName" resultType="com.movie.dto.TheaterRoomDTO">
	select * from date_time where idx=#{idx} and movie=#{movie};
</select>
<select id="selectSeat" resultType="int" parameterType="com.movie.dto.ReservationDTO">
	select count(*) from (select * from reservation_seat where viewing_id=#{viewing_id})a where a.seat_no=#{seat}
</select>
<select id="selectAreadySeat" resultType="Object" parameterType="int">
	select seat_no from reservation_seat where viewing_id=#{viewing_id}
</select>
<insert id="insertSeat" parameterType="com.movie.dto.ReservationDTO">
	insert into reservation_seat values(#{viewing_id},'user',#{seat})
</insert>
</mapper>

